# Intellij
.idea/

# Debug folder
.debug/

# Gradle
.gradle/
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle-wrapper.properties!/
craftbukkit-1.8.8-R0.1-SNAPSHOT.jar